<script lang="ts">
	import { latestSerialData } from '$lib/serial';
	import SerialCommunication from '../components/SerialCommunication.svelte';

	let serialData = '';
	let scannedStudent;

	$: {
		serialData = $latestSerialData;
		console.log('Serial Data: ' + serialData);
		fetchStudentToUCID(serialData).then();
	}

	async function fetchStudentToUCID(ucid: string) {
		if (isNotEmpty(ucid)) {
			const currentlyLoanedRes = await fetch(
				`http://localhost:5173/api/ucidStudent?id="${ucid.slice(1)}"`
			);
			const currentlyLoanedData = await currentlyLoanedRes.json();
			scannedStudent = currentlyLoanedData.data;
		} else {
			return;
		}
	}

	async function fetchAvailableItemAmount(uiid: string) {
		if (isNotEmpty(uiid)) {
			const currentlyLoanedRes = await fetch(
				`http://localhost:5173/api/availableItemAmount?id=${uiid}`
			);
			const currentlyLoanedData = await currentlyLoanedRes.json();
			return currentlyLoanedData.data[0].amount_availabe;
		} else {
			return;
		}
	}

	function isNotEmpty(str) {
		return str.trim() !== '';
	}

	function formatDatetime(datetime: string) {
		const date = new Date(datetime);
		return date.toLocaleString();
	}

	export let data;
	$: ({ loaned_items } = data);
	$: ({ items } = data);

	let selectedItem = null;
	let selectedItemUIID = null;
	let selectedQuantity: Number;
	let availableItemAmount = null;

	async function handleItemChange(event) {
		const uiid = event.target.value;
		selectedItem = items.find((item) => item.uiid == uiid);
		selectedItemUIID = selectedItem.uiid;
		selectedQuantity = 0;
		availableItemAmount = await fetchAvailableItemAmount(uiid);
	}

	function handleQuantityChange(event) {
		const quantity = event.target.value;
		selectedQuantity = quantity;
	}

	function loan() {
		alert(`${selectedQuantity}x ${selectedItem.name} ausgeliehen!`);
	}
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="loaning webapp" />
</svelte:head>

<div class="flex">
	<SerialCommunication />

	<div class="flex-auto w-1/2 h-64 card bg-base-300">
		<h2 class="text-xl font-medium m-3">Item:</h2>
		<select class="select select-bordered mx-3 my-2" on:change={handleItemChange}>
			<option disabled selected>Select Item</option>
			{#each items as item}
				<option value={item.uiid}>{item.name}</option>
			{/each}
		</select>
		{#if selectedItem == null && availableItemAmount == null}
			<select class="select select-bordered mx-3 my-2">
				<option disabled selected>No item selected</option>
			</select>
		{:else}
			<select class="select select-bordered mx-3 my-2" on:change={handleQuantityChange}>
				<option disabled selected>Select Amount</option>
				{#each Array(availableItemAmount) as _, i}
					<option value={i + 1}>{i + 1}</option>
				{/each}
			</select>
		{/if}
		<button class="btn btn-outline m-3" on:click={loan}>Loan</button>
	</div>
</div>
<div class="flex">
	<div class="flex-auto w-full h-full card bg-base-300">
		<div class="collapse collapse-plus">
			<input type="checkbox" />
			<div class="collapse-title text-xl font-medium">Currently Loaned</div>
			<div class="collapse-content">
				<table class="table">
					<thead>
						<tr>
							<th>Item</th>
							<th>Name</th>
							<th>Loaned at</th>
						</tr>
					</thead>
					<tbody>
						{#each loaned_items as element}
							<tr>
								<th>{element.items.name}</th>
								<td>{element.students.firstname} {element.students.lastname}</td>
								<td>{formatDatetime(element.time_loaned)}</td>
							</tr>
						{/each}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<style>
	div {
		margin: 5px;
	}
</style>
