<script>
</script>

<header>
	<div class="navbar bg-neutral-focus">
		<a href="." class="btn btn-ghost normal-case text-xl">Loaning WebApp</a>
	</div>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
	}
</style>
