<script>
	import { selectedLanguage } from '$lib/language/language';

	const languages = ['en', 'de'];

	function changeLanguage(event) {
		selectedLanguage.set(event.target.value);
	}
</script>

<select bind:value={$selectedLanguage} on:change={changeLanguage}>
	{#each languages as lang}
		<option value={lang}>{lang}</option>
	{/each}
</select>
