<!-- SerialCommunication.svelte -->
<script lang="ts">
	import { writable } from 'svelte/store';

	let port = null;
	let isConnected = false;
	let latestLine = writable(''); // Initialize the variable to store the latest line of data

	async function startSerialCommunication() {
		try {
			port = await navigator.serial.requestPort();
			await port.open({ baudRate: 9600 });
			isConnected = true;

			const reader = port.readable.getReader();
			let partialLine = ''; // To handle partial lines
			while (true) {
				const { value, done } = await reader.read();
				if (done) break;

				const text = new TextDecoder().decode(value);
				partialLine += text;

				// Check if a full line has been received (ends with a newline character)
				if (partialLine.includes('\n')) {
					const lines = partialLine.split('\n');
					latestLine.set(lines[lines.length - 2]); // Use the second-to-last line as the latest
					partialLine = lines[lines.length - 1]; // Store the remaining partial line
				}
			}
		} catch (error) {
			console.error('Error connecting to serial port:', error);
			isConnected = false;
		}
	}

	async function stopSerialCommunication() {
		if (port) {
			await port.close();
			port = null;
			isConnected = false;
		}
	}

	async function sendToArduino(text) {
		if (port) {
			const encoder = new TextEncoder();
			await port.write(encoder.encode(text));
		}
	}

	let serialData = '';
	let scannedStudent;

	$: {
		serialData = $latestLine;
		console.log('Serial Data: ' + serialData);
		fetchStudentToUCID(serialData).then();
	}

	async function fetchStudentToUCID(ucid: string) {
		if (isNotEmpty(ucid)) {
			const currentlyLoanedRes = await fetch(
				`http://localhost:5173/api/ucidToStudent?id="${ucid.slice(1)}"`
			);
			const currentlyLoanedData = await currentlyLoanedRes.json();
			scannedStudent = currentlyLoanedData.data;
		} else {
			return;
		}
	}

	function isNotEmpty(str) {
		return str.trim() !== '';
	}

	function clearData() {
		scannedStudent = null;
	}
</script>

<div class="flex-auto w-1/2 h-64 card bg-base-300">
	{#if !isConnected}
		<button class="btn btn-outline" on:click={startSerialCommunication}>Connect</button>
	{:else}
		<button class="btn btn-active no-animation cursor-not-allowed">Connected</button>
	{/if}
	{#if scannedStudent && isConnected}
		<button class="btn btn-sm btn-square btn-outline" on:click={clearData}>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
				><path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M6 18L18 6M6 6l12 12"
				/></svg
			>
		</button>
		<h2 class="text-xl font-medium m-3">Student:</h2>
		<p class="mx-3 font-bold">Firstname:</p>
		<p class="mx-3">{scannedStudent[0].firstname}</p>
		<p class="mx-3 font-bold">Lastname:</p>
		<p class="mx-3">{scannedStudent[0].lastname}</p>
	{:else if !isConnected}
		<div class="flex grid place-items-center">
			<span class="loading loading-dots loading-md" />
			<p>Please connect scanner...</p>
		</div>
	{:else}
		<div class="flex grid place-items-center">
			<span class="loading loading-dots loading-md" />
			<p>Please scan card...</p>
		</div>
	{/if}
</div>

<style>
	div {
		margin: 8px;
		padding: 12px;
	}
</style>
